<template>
  <div class="container">
    <div class="login">
      <h1>{{ msg }}</h1>
      <form>
        <div class="login-item">
          <label>Email</label>
          <input type="text" name="email">
        </div>
        <div class="login-item">
          <label>Password</label>
          <input type="password" name="password">
        </div>
        <button class="login-btn" type="submit">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      msg: 'Login'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  min-height: 100vh;
}
.login {
  border: 1px solid #dddddd;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.login-item {
  padding: 10px;
  text-align: left;
}
.login-item label {
  display: block;
  margin-bottom: 5px;
}
.login-item input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  padding: 10px;
  outline: 0;
  border-radius: 3px;
}
.login-btn {
  border: 1px solid;
  background-color: #00BCD4;
  color: white;
  width: calc(100% - 20px);
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  margin-top: 30px;
  font-size: 18px;
  box-sizing: border-box;
}
</style>
